<template>
<div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand>TMT</b-navbar-brand>
        <b-navbar-nav class="ml-auto">
            <b-nav-item href="/UserProject">
                Project
            </b-nav-item>
            <b-nav-item>
                Report
            </b-nav-item>
            <b-nav-item href="/UserProfile">
                My Account
            </b-nav-item>
        </b-navbar-nav>
    </b-navbar>
</div>
</template>

<script>
export default {
}
</script>

<style>

</style>
