<template>
<div>
    <NavbarAdmin />
    <div class="App11">
        <div class="App_Asideacc"></div>
        <div class="App_Formacc">
            <div class="FormField">
                <label class="FormField__Label">
                    <h1>Account Management</h1>
                </label>
            </div>

            <b-table show-empty :items="userList" :fields="fields">
                <template v-slot:cell(action)="">
                    <b-form-checkbox size="lg" switch>
                    </b-form-checkbox>
                </template>
            </b-table>

        </div>
        <div class="App_Asideacc"></div>
    </div>
</div>
</template>

<script>
import Navbar from '../components/Navbar'
import NavbarAdmin from '../components/NavbarAdmin'
import Api from '../services/Api'
import projectService from '../services/ProjectService'
import UserService from '../services/UserService'

export default {
    components: {
        Navbar,
        NavbarAdmin
    },
    data() {
        return {
            checked:'true',
            userList: [],
            fields: [{
                    key: 'email',
                    label: 'Email'
                },
                {
                    key: 'firstname',
                    label: 'First Name'
                },
                {
                    key: 'lastname',
                    label: 'Last Name'
                },
                {
                    key: 'action',
                    label: 'Action'
                }
            ],
        }
    },
    computed: {},

    created() {
        this.listUser()
    },
    methods: {
        listUser() {
            UserService.getAll()
                .then(response => {
                    this.userList = response.data.users
                    console.log(response);

                })
                .catch(error => {
                    console.log(error);

                })

        },
    }
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;

}

.background {
    width: 100%;
    background-color: #66dac7;
    align-items: center;
}

.App11 {
    height: 100vh;
    display: flex;
    color: white;
}

.App_Asideacc {
    width: 15%;
    background-color: #66dac7;
}

.App_Formacc {
    width: 100%;
    /* background-color: #2e4158; */
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
