<template>
<div>
    <SubNav />
    <div class="App11">
        <div class="App_AsideAddpro"></div>
        <div class="App_FormAddpro">
            <div class="FormField">
                <label :style="{textAlign:'left'}" class="FormField__Label">
                    <h1>Add Feature to Test Execution Plan</h1>
                    <h2>&nbsp;Name : </h2>
                </label>

                <div>
                    <b-table hover :items="testcase" :fields="fieldtestcase" selectable @row-selected="onRowSelected">
                        <template v-slot:cell(selected)="{rowSelected}">
                            <template v-if="rowSelected">
                                <span aria-hidden="true">&check;</span>
                                <span class="sr-only">Selected</span>
                            </template>
                            <template v-else>
                                <span aria-hidden="true">&nbsp;</span>
                                <span class="sr-only">Not selected</span>
                            </template>
                        </template>
                    </b-table>
                </div>

                <b-button v-on:click="addTestcaseToFfeature" variant="success">Add to TEP</b-button>
                <b-button variant="danger">Cancel</b-button>
            </div>
        </div>
        <div class="App_AsideAddpro"></div>
    </div>
</div>
</template>

<script>
import SubNav from '../components/SubNav'
import Alert from '../components/Alert'
import ProjectService from '../services/ProjectService'

export default {
    components: {
        SubNav,
        Alert
    },
    data() {
        return {

            selected: [],
            testcase: [],
            fieldfeature: [{
                key: 'project_name',
                label: 'Feature name',
            }],
            fieldtestcase: [
                'selected',
                {
                    key: 'testCase_name',
                    label: 'Test Case name',
                },
                {
                    key: 'test_type',
                    label: 'Type',
                },
                {
                    key: 'test_type',
                    label: 'Type',
                },
                {
                    key: 'status',
                    label: 'Status',
                }
            ],
            addTestCase: {
                test_case_id: null
            },
        }
    },
    computed: {},
    mounted() {},
    created() {
        this.listdata();
    },
    methods: {
        onRowSelected(items) {
            this.selected = items
            console.log(this.selected);
        },
        listdata() {
            ProjectService.getAllTestcaseToTep(this.$route.query.project_id, this.$route.query.id, this.$route.query.tep_id)
                .then(response1 => {
                    ProjectService.getAllTestcase(this.$route.query.project_id, this.$route.query.id)
                        .then(response2 => {
                            const allTestCases = response2.data.testCase;
                            const tepTestCases = response1.data.TestCase;
                            this.testcase = allTestCases.filter((testCase) => {
                                let result = true;
                                for(let tepTestCase of tepTestCases) {
                                    if(testCase.id == tepTestCase.test_cases_id) {
                                        result = false;
                                        break;
                                    }
                                }

                                return result;
                            })
                        })
                })
        },

        addTestcaseToFfeature(e) {
            e.preventDefault()

            ProjectService.addTestcaseToFeature(this.$route.query.project_id, this.$route.query.id, this.$route.query.tep_id, {
                    testcases_id: this.selected.map(testCase => testCase.id)
                })
                .then(response => {
                    console.log(this.selected);
                })
        }
    }
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #66dac7;

}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;

}

.App_AsideAddpro {
    width: 15%;
    background-color: #66dac7;
}

.App_FormAddpro {
    width: 100%;
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
