<template>
<div>
    <Navbar />
    <div class="container">
        <h1>Edit Profile</h1>
        <h3>First Name</h3>
        <input />
        <h3>Last Name</h3>
        <input />
        <b-button size="lg" variant="primary">Save</b-button>
        <b-button size="lg" variant="danger">Cancel</b-button>
    </div>
</div>
</template>

<script>
import SubNav from '../components/SubNav'
import axios from 'axios'
export default {
    data(){
        return{
            items:[]
        }
    }
}
</script>

<style>
.container {
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    background-color: #66dac7;
    align-items: center;
}
</style>
