<template>
<div>
    <SubNav />
    <div class="App11">
        <div class="App_AsideAddpro"></div>
        <div class="App_FormAddpro">
            <div class="FormField">
                <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
                <label class="FormField__Label">
                    <h1>Project Detail</h1>
                </label>
            </div>

            <!-- Project Detail -->
            <div class="FormField">
                <b-card>
                    <div class="FormField__Label">
                        <b-row>
                            <b-col sm="5" md="6">
                                <div class="FormField__Label">
                                    Project Name : {{this.detailProject.project_name}}
                                </div>
                            </b-col>
                            <b-col sm="5" md="6">
                                <div class="FormField__Label">
                                    Created By : {{this.detailProject.created_by}}
                                </div>
                            </b-col>
                        </b-row>
                    </div>
                    <div class="FormField__Label">
                        <b-row>
                            <b-col sm="5" md="6">
                                <div class="FormField__Label">
                                    Start Date : {{this.detailProject.start_date}}
                                </div>
                            </b-col>
                            <b-col sm="5" md="6">
                                <div class="FormField__Label">
                                    End Date : {{this.detailProject.end_date}}
                                </div>
                            </b-col>
                        </b-row>
                    </div>
                    <div class="FormField__Label">
                        Description : {{this.detailProject.description}}
                    </div>
                </b-card>
            </div>

            <!-- Display function Sort in featurelist -->
            <div :style="{color:'black'}">
                <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                    <b-input-group>
                        <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

                <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                    <b-input-group>
                        <b-form-select v-model="sortBy" :options="sortOptions">
                            <template v-slot:first>
                                <option value="">---</option>
                            </template>
                        </b-form-select>
                        <b-form-select v-model="sortDesc" :disabled="!sortBy">
                            <option :value="false">Asc</option>
                            <option :value="true">Desc</option>
                        </b-form-select>
                    </b-input-group>
                </b-form-group>

                <b-row>
                    <b-col sm="5" md="6">
                        <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                            <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6">
                        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" size="sm" align="fill"></b-pagination>
                    </b-col>
                </b-row>
            </div>

            <!-- Add Feature Button -->
            <div :style="{textAlign:'right',marginBottom:'20px'}">
                <b-button variant="success" v-b-modal.feature-modal>
                    Add New Feature
                </b-button>
            </div>

            <!-- Display data featurelist -->
            <b-table :items="features" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
                <template v-slot:cell(actions)="row">
                    <nuxt-link :to="{name:'testcase', query:{ id:row.item.id , project_id:project.id }}">
                        <b-button size="sm" variant="primary">View</b-button>
                    </nuxt-link>
                    <b-button size="sm" variant="warning" v-b-modal.edit-feature-modal @click="editFeature(row.item)">
                        Edit
                    </b-button>
                    <b-button size="sm" variant="danger" @click="onDeleteFeature(row.item)">
                        Delete
                    </b-button>
                </template>
            </b-table>

            <!-- Add feature with modal -->
            <b-modal ref="addFeatureModal" id="feature-modal" title="Add New Feature" size="lg" hide-footer>
                <b-form @submit="addFeature" @reset="onResetFeature">
                    <b-form-group id="form-feature-group" label="Feature Name" label-for="input-default">
                        <b-form-input v-model="addFeatures.feature_name" id="input-default" type="text" placeholder="Enter your feature name" required></b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Description" label-for="form-description-input">
                        <b-form-textarea v-model="addFeatures.description" id="form-description-input" type="text" placeholder="Enter your description" required>
                        </b-form-textarea>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Start Date" label-for="form-startdate-input">
                        <b-form-input v-model="addFeatures.startdate" id="form-startdate-input" type="date" placeholder="Enter your start date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="End Date" label-for="form-enddate-input">
                        <b-form-input v-model="addFeatures.enddate" id="form-enddate-input" type="date" placeholder="Enter your end date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group label="Status">
                        <b-form-select v-model="addFeatures.status" :options="OptionStatus">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled> Please select Status</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-button variant="primary" type="submit">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
            </b-modal>

            <!-- Edit feature with modal -->
            <b-modal ref="editFeatureModal" id="edit-feature-modal" title="Edit Feature" size="lg" hide-footer>
                <b-form @submit="onSubmitFeatureUpdate" @reset="onResetFeatureUpdate">
                    <b-form-group id="form-feature-group" label="Feature Name" label-for="input-default">
                        <b-form-input v-model="editFeatureForm.feature_name" id="input-default" type="text" placeholder="Enter your feature name" required></b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Start Date" label-for="form-startdate-input">
                        <b-form-input v-model="editFeatureForm.startdate" id="form-startdate-input" type="date" placeholder="Enter your start date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="End Date" label-for="form-enddate-input">
                        <b-form-input v-model="editFeatureForm.enddate" id="form-enddate-input" type="date" placeholder="Enter your end date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Description" label-for="form-description-input">
                        <b-form-textarea v-model="editFeatureForm.description" id="form-description-input" type="text" placeholder="Enter your description" required>
                        </b-form-textarea>
                    </b-form-group>

                    <b-form-group label="Status">
                        <b-form-select v-model="editFeatureForm.status" :options="OptionStatus">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled> Please select Status</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-button variant="primary" type="submit">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
            </b-modal>

        </div>
        <div class="App_AsideAddpro"></div>
    </div>
</div>
</template>

<script>
import SubNav from '../components/SubNav'
import Alert from '../components/Alert'
import axios from 'axios'
import ProjectService from '../services/ProjectService'

export default {
    components: {
        SubNav,
        Alert
    },
    data() {
        return {
            selected: null,
            OptionStatus: [{
                    value: 'Active',
                    text: 'Active'
                },
                {
                    value: 'Inactive',
                    text: 'Inactive'
                }
            ],
            project: {
                id: null
            },
            message: '',
            showMessage: false,

            userItems: [],

            addFeatures: {
                feature_name: '',
                created_by: '',
                startdate: '',
                enddate: '',
                description: '',
                status: '',
                project_id: parseInt(this.$route.query.id)
            },

            editFeatureForm: {
                id: '',
                feature_name: '',
                startdate: '',
                enddate: '',
                description: '',
                status: ''
            },

            detailProject: [],
            features: [],

            fields: [{
                    key: 'feature_name',
                    label: 'Feature name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'createdfeature',
                    label: 'Created by',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
        }
    },
    computed: {
        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },
        totalRows() {
            return this.features.length
        }
    },

    created() {
        this.listdata()
    },
    methods: {

        onFiltered(filterdItems) {
            this.totalRows = filterdItems.length
            this.currentPage = 1
        },

        // list detail project
        listdata() {

            ProjectService.getAllFeature(this.$route.query.id)
                .then(response => {
                    this.detailProject = response.data.project;
                    this.features = response.data.feature;
                })
                console.log(this.$route.query.id);
                

            this.project.id = parseInt(this.$route.query.id)
        },

        // function add feature with modal
        addFeature(e) {
            e.preventDefault();
            const feature_name = this.addFeatures.feature_name;
            const startdate = this.addFeatures.startdate;
            const enddate = this.addFeatures.enddate;
            const description = this.addFeatures.description;
            const status = this.addFeatures.status;
            const project_id = this.addFeatures.project_id
            ProjectService.addFeature({
                    feature_name,
                    startdate,
                    enddate,
                    description,
                    status,
                    project_id
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Feature is added !';
                    this.showMessage = true;
                    this.$refs.addFeatureModal.hide()
                })
        },
        initFormFeature() {
            this.addFeatures.feature_name = '';
            this.addFeatures.startdate = '';
            this.addFeatures.enddate = '';
            this.addFeatures.description = '';
            this.addFeatures.status = '';
            this.editFeatureForm.id = '';
            this.editFeatureForm.feature_name = '';
            this.editFeatureForm.startdate = '';
            this.editFeatureForm.enddate = '';
            this.editFeatureForm.description = '';
            this.editFeatureForm.status = '';
        },
        onSubmitFeature(e) {
            e.preventDefault();
            this.$refs.addFeatureModal.hide()
            this.initFormFeature()
        },
        onResetFeature(e) {
            e.preventDefault()
            this.$refs.addFeatureModal.hide()
            this.initFormFeature()
            this.listdata()
        },

        // function edit feature with modal
        editFeature(item) {
            this.editFeatureForm = item;
        },
        onSubmitFeatureUpdate(e) {
            e.preventDefault();
            this.$refs.editFeatureModal.hide()
            this.updateFeature(e);
        },
        onResetFeatureUpdate(e) {
            e.preventDefault();
            this.$refs.editFeatureModal.hide();
            this.initFormFeature();
            this.listfeature();
        },
        updateFeature(e) {
            e.preventDefault();

            const id = this.editFeatureForm.id;
            const feature_name = this.editFeatureForm.feature_name;
            const startdate = this.editFeatureForm.startdate;
            const enddate = this.editFeatureForm.enddate;
            const description = this.editFeatureForm.description;
            const status = this.editFeatureForm.status;
            ProjectService.updateFeature(id, {
                    id,
                    feature_name,
                    startdate,
                    enddate,
                    description,
                    status
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Feature is updated !';
                    this.showMessage = true;
                    this.$refs.editFeatureModal.hide();
                })
        },

        // function delete data
        deleteFeature(item) {
            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteFeature(item.id)
                    .then(response => {
                        this.message = 'Project is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteFeature(item) {
            this.deleteFeature(item)
        }
    }
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #66dac7;

}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;

}

.App_AsideAddpro {
    width: 15%;
    background-color: #66dac7;
}

.App_FormAddpro {
    width: 100%;
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
