<template>
<div v-if="loggedIn">
    <Navbar />

    <div class="App11">
        <div class="App_Asidepg"></div>
        <div class="App_Formpg">
            <div class="FormField">
                <label class="FormField__Label">
                    <h1>My Profile</h1>
                </label>
            </div>
            <div class="FormField">
                <b-img v-bind="mainProps" rounded="circle" alt="Circle image"></b-img>
            </div>

            <b-card>
                <div class="FormField">
                    <label class="FormField__Label">
                        <h4>Email : {{this.$store.getters.user.email}}</h4>
                    </label>
                </div>

                <b-row>
                    <b-col sm="5" md="6">
                        <div class="FormField">
                            <label class="FormField__Label">
                                <h4>First Name : {{users.firstname}}</h4>
                            </label>
                        </div>
                    </b-col>
                    <b-col sm="5" md="6">
                        <div class="FormField">
                            <label class="FormField__Label">
                                <h4>Last Name : {{users.lastname}}</h4>
                            </label>
                        </div>
                    </b-col>
                </b-row>
            </b-card>

            <div :style="{marginTop:'15px'}">
                <b-button size="lg" variant="primary">Edit Profile</b-button>
                <b-button @click="logout" size="lg" variant="danger">Log out</b-button>
            </div>

        </div>
        <div class="App_Asidepg"></div>
    </div>
</div>
</template>

<script>
import Navbar from '../components/Navbar'
export default {
    components: {
        Navbar
    },

    data() {
        return {
            users:[],
            mainProps: {
                blank: true,
                blankColor: '#777',
                width: 250,
                height: 250,
                class: 'm1'
            }
        }
    },

    computed: {
        loggedIn() {
            console.log(this.$store);
            return this.$store.getters.isLoggedIn
        },
    },

    methods: {
        logout() {
            this.$store.dispatch('setToken',null)
            this.$store.dispatch('setUser',null)
            this.$router.push('/')
                // .then(response => {
                //     this.$router.push('/')
                // })
        }
    },

}
</script>

<style>
.App11 {
    height: 100vh;
    display: flex;
    color: white;
}

.App_Asidepg {
    width: 15%;
    background-color: #66dac7;
}

.App_Formpg {
    width: 100%;
    /* background-color: #2e4158; */
    padding: 25px 40px;
    overflow: auto;

    text-align: center;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    background-color: #66dac7;
    align-items: center;
}
</style>
