<template>
<div v-if="loggedIn">
    <NavbarAdmin />
    <div class="App11">
        <div class="App_Asidepro"></div>
        <div class="App_Formpro">
            <div class="FormField">
                <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
                <label class="FormField__Label">
                    <h1>Project</h1>
                </label>
            </div>

            <!-- Display function Sort -->
            <div :style="{color:'black'}">
                <b-container fluid>
                    <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                        <b-input-group>
                            <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                            <b-input-group-append>
                                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>

                    <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                        <b-input-group>
                            <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions">
                                <template v-slot:first>
                                    <option value="">---</option>
                                </template>
                            </b-form-select>
                            <b-form-select v-model="sortDesc" :disabled="!sortBy">
                                <option :value="false">Asc</option>
                                <option :value="true">Desc</option>
                            </b-form-select>
                        </b-input-group>
                    </b-form-group>

                    <b-row>
                        <b-col sm="5" md="6" class="my-1">
                            <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                                <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                            </b-form-group>
                        </b-col>

                        <b-col sm="7" md="6" class="my-1">
                            <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0"></b-pagination>
                        </b-col>
                    </b-row>
                </b-container>
            </div>

            <!-- Add Project Button -->
            <div :style="{textAlign:'right',marginBottom:'20px'}">
                <b-button variant="success" v-b-modal.project-modal>
                    Add New Project
                </b-button>
            </div>

            <!-- แสดงข้อมูล -->
            <b-table show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :filterIncludedFields="filterOn" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection">
                <template v-slot:cell(actions)="row">

                    <nuxt-link :to="{name:'feature', query:{ id:row.item.id }}">
                        <b-button size="sm" variant="primary">View</b-button>
                    </nuxt-link>

                    <b-button size="sm" variant="warning" v-b-modal.edit-modal @click="editProject(row.item)">
                        Edit
                    </b-button>

                    <b-button size="sm" variant="danger" @click="onDeleteProject(row.item)">
                        Delete
                    </b-button>

                    <nuxt-link :to="{name:'tep', query:{ id:row.item.id }}">
                        <b-button size="sm">Create TEP</b-button>
                    </nuxt-link>

                </template>
            </b-table>

            <!-- Add Project with Modal -->
            <b-modal ref="addProjectModal" id="project-modal" title="Add New Project" size="lg" hide-footer>
                <b-form @submit="addProject" @reset="onReset">
                    <b-form-group id="form-project-group" label="Project Name" label-for="form-projectname-input">
                        <b-form-input v-model="addItems.project_name" id="form-projectname-input" type="text" placeholder="Enter your project name" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Description" label-for="form-description-input">
                        <b-form-textarea v-model="addItems.description" id="form-description-input" type="text" placeholder="Enter your description" required>
                        </b-form-textarea>
                    </b-form-group>

                    <b-form-group label="Member">
                        <b-form-tags v-model="addItems.user" no-outer-focus class="mb-2">
                            <template v-slot="{ tags, disabled, addTag, removeTag }">
                                <ul v-if="tags.length > 0" class="list-inline deline-block mb-2">
                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                        <b-form-tag @remove="removeTag(tag)" :title="tag" :disabled="disabled" variant="info"> {{ displayTag(tag) }} </b-form-tag>
                                    </li>
                                </ul>

                                <b-dropdown size="sm" variant="outline-info" block menu-class="w-100">
                                    <template v-slot:button-content>
                                        Choose members
                                    </template>
                                    <b-dropdown-form @submit.stop.prevent="() => {}">
                                        <b-form-group label-for="tag-search-input" label="Search Members" label-cols-md="auto" label-size="sm" :description="searchDesc" :disabled="disabled">
                                            <b-form-input v-model="search" id="tag-search-input" type="search" size="sm" autocomplete="off"></b-form-input>
                                        </b-form-group>
                                    </b-dropdown-form>

                                    <b-dropdown-divider></b-dropdown-divider>

                                    <b-dropdown-item-button v-for="option in availableOptions" :key="option.value" @click="onOptionClick({option, addTag})">
                                        {{option.text}}
                                    </b-dropdown-item-button>

                                    <b-dropdown-text v-if="availableOptions.length === 0">
                                        There are no members available to select
                                    </b-dropdown-text>
                                </b-dropdown>
                            </template>
                        </b-form-tags>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Start Date" label-for="form-startdate-input">
                        <b-form-input v-model="addItems.start_date" id="form-startdate-input" type="date" placeholder="Enter your start date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="End Date" label-for="form-enddate-input">
                        <b-form-input v-model="addItems.end_date" id="form-enddate-input" type="date" placeholder="Enter your end date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group label="Project Manager">
                        <b-form-select v-model="addItems.project_manager" :options="userItems">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled>--- Please select Project Manager ---</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group label="Business Analysis">
                        <b-form-select v-model="addItems.business_analysis" :options="userItems">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled>--- Please select Business Analysis ---</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group label="Status">
                        <b-form-select v-model="addItems.status" :options="OptionStatus">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled> Please select Status</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-button variant="primary" type="submit">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
            </b-modal>

            <!-- Edit Project with Modal -->
            <b-modal ref="editProjectModal" id="edit-modal" title="Edit Project" size="lg" hide-footer>
                <b-form @submit="onSubmitUpdate" @reset="onResetUpdate">
                    <b-form-group id="form-project-group" label="Project Name" label-for="form-projectname-input">
                        <b-form-input v-model="editForm.project_name" id="form-projectname-input" type="text" placeholder="Enter your project name" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Description" label-for="form-description-input">
                        <b-form-textarea v-model="editForm.description" id="form-description-input" type="text" placeholder="Enter your description" required>
                        </b-form-textarea>
                    </b-form-group>

                    <b-form-group label="Member">
                        <b-form-tags v-model="editForm.user" no-outer-focus class="mb-2">
                            <template v-slot="{ tags, disabled, addTag, removeTag }">
                                <ul v-if="tags.length > 0" class="list-inline deline-block mb-2">
                                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                                        <b-form-tag @remove="removeTag(tag)" :title="tag" :disabled="disabled" variant="info"> {{ displayTag(tag) }} </b-form-tag>
                                    </li>
                                </ul>

                                <b-dropdown size="sm" variant="outline-info" block menu-class="w-100">
                                    <template v-slot:button-content>
                                        Choose members
                                    </template>
                                    <b-dropdown-form @submit.stop.prevent="() => {}">
                                        <b-form-group label-for="tag-search-input" label="Search Members" label-cols-md="auto" label-size="sm" :description="searchDesc" :disabled="disabled">
                                            <b-form-input v-model="search" id="tag-search-input" type="search" size="sm" autocomplete="off"></b-form-input>
                                        </b-form-group>
                                    </b-dropdown-form>

                                    <b-dropdown-divider></b-dropdown-divider>

                                    <b-dropdown-item-button v-for="option in availableOptions" :key="option.value" @click="onOptionClick({option, addTag})">
                                        {{option.text}}
                                    </b-dropdown-item-button>

                                    <b-dropdown-text v-if="availableOptions.length === 0">
                                        There are no members available to select
                                    </b-dropdown-text>
                                </b-dropdown>
                            </template>
                        </b-form-tags>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Start Date" label-for="form-startdate-input">
                        <b-form-input v-model="editForm.start_date" id="form-startdate-input" type="date" placeholder="Enter your start date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="End Date" label-for="form-enddate-input">
                        <b-form-input v-model="editForm.end_date" id="form-enddate-input" type="date" placeholder="Enter your end date" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group label="Project Manager">
                        <b-form-select v-model="editForm.project_manager" :options="userItems">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled>--- Please select Project Manager ---</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group label="Business Analysis">
                        <b-form-select v-model="editForm.business_analysis" :options="userItems">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled>--- Please select Business Analysis ---</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group label="Status">
                        <b-form-select v-model="editForm.status" :options="OptionStatus">
                            <template v-slot:first>
                                <b-form-select-option value="" disabled> Please select Status</b-form-select-option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-button type="submit" variant="primary">Update</b-button>
                    <b-button type="reset" variant="danger">Cancel</b-button>
                </b-form>
            </b-modal>

        </div>
        <div class="App_Asidepro"></div>
    </div>
</div>
</template>

<script>
import Alert from '../components/Alert'
import Navbar from '../components/Navbar'
import NavbarAdmin from '../components/NavbarAdmin'
import axios from 'axios'
import Api from '../services/Api'
import projectService from '../services/ProjectService'
import UserService from '../services/UserService'

export default {
    components: {
        Navbar,
        NavbarAdmin,
        alert: Alert,
    },
    data() {
        return {
            search: '',

            selected: null,
            OptionStatus: [{
                    value: 'Active',
                    text: 'Active'
                },
                {
                    value: 'Inactive',
                    text: 'Inactive'
                }
            ],

            userItems: [],

            addItems: {
                project_name: '',
                created_by: '',
                user: [],
                start_date: '',
                end_date: '',
                project_manager: '',
                business_analysis: '',
                description: '',
                created_by: '',
                status: ''
            },

            editForm: {
                id: '',
                project_name: '',
                user: '',
                created_by: '',
                start_date: '',
                end_date: '',
                project_manager: '',
                business_analysis: '',
                description: '',
                created_by: '',
                status: ''
            },
            message: '',
            showMessage: false,
            items: [],
            fields: [{
                    key: 'project_name',
                    label: 'Project name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'created_by',
                    label: 'Created by',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
        }
    },
    computed: {
        criteria() {
            return this.search.trim().toLowerCase()
        },
        availableOptions() {
            const criteria = this.criteria
            const options = this.userItems.filter(user => this.addItems.user.indexOf(user.value.toString()) == -1)
            if (criteria) {
                return options.filter(opt => opt.text.toLowerCase().indexOf(criteria) > -1)
            }
            return options
        },
        searchDesc() {
            if (this.criteria && this.availableOptions.length === 0) {
                return 'There are no members matching your search criteria'
            }
            return ''
        },

        loggedIn() {
            console.log(this.$store);
            return this.$store.getters.isLoggedIn
        },

        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },
        totalRows() {
            return this.items.length
        }
    },

    created() {
        this.listdata()
        this.listUser()
    },
    methods: {
        onOptionClick({
            option,
            addTag
        }) {
            addTag(option.value.toString())
            this.search = ''
        },

        onFiltered(filteredItems) {
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },

        listUser() {
            UserService.getAll()
                .then(response => {
                    const userList = response.data.users.map(user => {
                        return {
                            value: user.id,
                            text: `${user.firstname} ${user.lastname}`
                        };
                    })
                    this.userItems = userList
                })
                .catch(error => {
                    console.log(error);

                })

        },

        displayTag(tag) {
            let text = ''
            for(let userItem of this.userItems) {
                if(userItem.value.toString() == tag) {
                    text = userItem.text
                    break;
                }
            }
            return text
        },

        // function list data
        listdata() {
            projectService.getAll()
                .then(response => {
                    this.items = response.data.projects;
                    console.log(this.items);
                })
                .catch(error => {
                    console.log(error);

                })
        },

        // function add data
        addProject(e) {
            e.preventDefault();
            const project_name = this.addItems.project_name;
            const user = this.addItems.user;
            const description = this.addItems.description;
            const start_date = this.addItems.start_date;
            const end_date = this.addItems.end_date;
            const project_manager = this.addItems.project_manager;
            const business_analysis = this.addItems.business_analysis;
            const status = this.addItems.status;

            projectService.addData({
                    project_name,
                    user,
                    description,
                    start_date,
                    end_date,
                    project_manager,
                    business_analysis,
                    status
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Project is added !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.addProjectModal.hide();
                })
                .catch(error => {
                    console.log(error);
                })
        },
        initForm() {
            this.addItems.project_name = '';
            this.addItems.user = '';
            this.addItems.description = '';
            this.addItems.start_date = '';
            this.addItems.end_date = '';
            this.addItems.project_manager = '';
            this.addItems.business_analysis = '';
            this.addItems.status = '';
            this.editForm.id = ''
            this.editForm.project_name = '';
            this.editForm.user = '';
            this.editForm.description = '';
            this.editForm.start_date = '';
            this.editForm.end_date = '';
            this.editForm.project_manager = '';
            this.editForm.business_analysis = '';
            this.editForm.status = '';
        },
        onSubmit(e) {
            e.preventDefault();
            this.$refs.addProjectModal.hide()
            this.addProject()
            this.initForm()
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.addProjectModal.hide()
            this.initForm()
        },

        // function edit data
        editProject(item) {
            this.editForm = item;
            console.log(this.editForm);

        },
        onSubmitUpdate(e) {
            e.preventDefault();
            this.$refs.editProjectModal.hide()
            this.updateProject(e)
        },
        onResetUpdate(e) {
            e.preventDefault();
            this.$refs.editProjectModal.hide();
            this.initForm();
            this.listdata();
        },
        updateProject(e) {
            e.preventDefault();

            const id = this.editForm.id;
            const project_name = this.editForm.project_name;
            const start_date = this.editForm.start_date;
            const description = this.editForm.description;
            const end_date = this.editForm.end_date;
            const project_manager = this.editForm.project_manager;
            const business_analysis = this.editForm.business_analysis;
            const status = this.editForm.status;

            projectService.updateData(id, {
                    id,
                    project_name,
                    description,
                    start_date,
                    end_date,
                    project_manager,
                    business_analysis,
                    status
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Project is updated !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.editProjectModal.hide();
                })
        },

        // function delete data
        deleteProject(item) {
            if (confirm("Do you want to delete ?")) {
                projectService.deleteData(item.id)
                    .then(response => {
                        this.message = 'Project is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteProject(item) {
            this.deleteProject(item)
        }
    }
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;

}

.background {
    width: 100%;
    background-color: #66dac7;
    align-items: center;
}

.App11 {
    height: 100vh;
    display: flex;
    color: white;
}

.App_Asidepro {
    width: 15%;
    background-color: #66dac7;
}

.App_Formpro {
    width: 100%;
    /* background-color: #2e4158; */
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
