<template lang="html">
<div class="App11">
    <div class="App_Aside">
        <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
    </div>

    <div class="App_Form">

        <div class="PageSwitcher">
            <nuxt-link to="/" class="PageSwitcher__Item">
                Login
            </nuxt-link>

            <nuxt-link to="/register" activeClass="PageSwitcher__Item--Active" class="PageSwitcher__Item">
                Register
            </nuxt-link>
        </div>

        <div class="FormTitle">
            <nuxt-link to="/" class="FormTitle__Link ">
                Login
            </nuxt-link>
            or
            <nuxt-link to="/register" activeClass="FormTitle__Link --Active" class="FormTitle__Link ">
                Register
            </nuxt-link>
        </div>

        <div class="FormCenter">
            <form @submit="register">
                <div class="FormField">
                    <label class="FormField__Label">
                        Username
                    </label>
                    <input required v-model="username" type="text" class="FormField__Input" placeholder="Enter your username" />
                </div>

                <div class="FormField">
                    <label class="FormField__Label">
                        Email
                    </label>
                    <input required v-model="email" type="email" class="FormField__Input" placeholder="Enter your email" />
                </div>

                <div class="FormField">
                    <label class="FormField__Label">
                        Password
                    </label>
                    <input required v-model="password" type="password" class="FormField__Input" placeholder="Enter your password" />
                </div>

                <div class="FormField">
                    <label class="FormField__Label">
                        Confirm Password
                    </label>
                    <input required v-model="confirm_password" type="password" class="FormField__Input" placeholder="Enter your password" />
                </div>

                <div class="FormField">
                    <label class="FormField__Label">
                        Firt Name
                    </label>
                    <input required v-model="firstname" type="text" class="FormField__Input" placeholder="Confirm your password" />
                </div>

                <div class="FormField">
                    <label class="FormField__Label">
                        Last Name
                    </label>
                    <input required v-model="lastname" type="text" class="FormField__Input" placeholder="Confirm your password" />
                </div>

                <div class="FormField">
                    <b-button class="FormField__Button mr-20" type="submit"> register </b-button>
                    &nbsp;&nbsp;
                    <a class="FormField__Link">Create an accout</a>
                </div>
            </form>
        </div>

    </div>
</div>
</template>

<script>
import AuthenService from '../services/AuthenService'
import Alert from '../components/Alert'

export default {
    components: {
        Alert
    },

    data() {
        return {
            message: '',
            showMessage: false,

            username:'',
            email: '',
            password: '',
            confirm_password: '',
            firstname: '',
            lastname: ''
        }
    },
    methods: {

        register(e){
            e.preventDefault()

            AuthenService.register({
                username:this.username,
                email: this.email,
                password: this.password,
                confirm_password: this.confirm_password,
                firstname:this.firstname,
                lastname:this.lastname
            })
            .then(response => {
                // this.message = 'Register is success !';
                // this.showMessage = true;
                // this.$router.push('/')
                // console.log(response);
                if(confirm("Register is success")){
                    this.$router.push('/')
                }
            })
             .catch(err => console.log(err))
        },
        validEmail: function (email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    }

}
</script>

<style lang="css" scoped>
.App11 {
    height: 100vh;
    display: flex;
    color: white;
}

.App_Aside {
    width: 50%;
    background-color: #66dac7;
}

.App_Form {
    width: 50%;
    background-color: #2e4158;
    padding: 25px 40px;
    overflow: auto;
}

.PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
}

.PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
}

.FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
}

.FormCenter {
    margin-bottom: 100px;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
}

.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
}

.FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}
</style>
