<template>
<div>
    <SubNav />
    <div class="App11">
        <div class="App_Asidepro"></div>
        <div class="App_Formpro">
            <div class="FormField">
                <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
                <label class="FormField__Label">
                    <h1>Test Execution Plan Management</h1>
                </label>
            </div>

            <!-- Display function Sort -->
            <div :style="{color:'black'}">
                <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                    <b-input-group>
                        <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

                <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                    <b-input-group>
                        <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions">
                            <template v-slot:first>
                                <option value="">---</option>
                            </template>
                        </b-form-select>
                        <b-form-select v-model="sortDesc" :disabled="!sortBy">
                            <option :value="false">Asc</option>
                            <option :value="true">Desc</option>
                        </b-form-select>
                    </b-input-group>
                </b-form-group>

                <b-row>
                    <b-col sm="5" md="6">
                        <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6">
                        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" size="sm" align="fill"></b-pagination>
                    </b-col>
                </b-row>
            </div>

            <!-- Add Project Button -->
            <div :style="{textAlign:'right',marginBottom:'20px'}">
                <b-button variant="success" v-b-modal.add-tep-modal>
                    Add New TEP
                </b-button>
            </div>

            <!-- แสดงข้อมูล -->
            <b-table :items="teps" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
                <template v-slot:cell(actions)="row">
                    <nuxt-link :to="{name:'editTep', query:{ id:row.item.id , project_id:project_id }}">
                        <b-button size="sm" variant="primary">Edit/Excecute</b-button>
                    </nuxt-link>

                    <b-button size="sm" variant="danger" @click="onDeleteProject(row.item)">
                        Delete
                    </b-button>

                    <b-button variant="warning" size="sm" v-b-modal.edit-tep-modal>
                        Progress
                    </b-button>
                </template>
            </b-table>

            <!-- Add TEP with Modal -->
            <b-modal ref="addTEPModal" id="add-tep-modal" title="Create Test Execution Plane" hide-footer>
                <b-form @submit="addTEP" @reset="onReset">
                    <b-form-group id="form-tepname-group" label="TEP Name" label-for="form-tepname-input">
                        <b-form-input v-model="addTep.tep_name" id="form-tepname-input" type="text" placeholder="Enter your TEP name" required>
                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="form-project-group" label="Description" label-for="form-description-input">
                        <b-form-textarea v-model="addTep.description" id="form-description-input" type="text" placeholder="Enter your description" required>
                        </b-form-textarea>
                    </b-form-group>

                    <b-form-group id="form-priority-group" label="Priority" label-for="form-priority-input">
                        <b-form-radio-group id="form-priority-input" v-model="addTep.priority" :options="priority" required></b-form-radio-group>
                    </b-form-group>

                    <b-form-group id="form-testtype-group" label="Test Type" label-for="form-testtype-input">
                        <b-form-radio-group id="form-testtype-input" v-model="addTep.test_type" :options="testtype" required></b-form-radio-group>
                    </b-form-group>

                    <b-form-group id="form-testby-group" label="Test by" label-for="form-testby-input">
                        <b-form-radio-group id="form-testby-input" v-model="addTep.test_by" :options="testby" required></b-form-radio-group>
                    </b-form-group>

                    <b-button variant="primary" type="submit">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
            </b-modal>

        </div>
        <div class="App_Asidepro"></div>
    </div>
</div>
</template>

<script>
import Alert from '../components/Alert'
import SubNav from '../components/SubNav'
import axios from 'axios'
import ProjectService from '../services/ProjectService'

import qs from 'qs';

export default {
    components: {
        SubNav,
        alert: Alert
    },
    data() {
        return {
            message: '',
            showMessage: false,

            priority:[
                {text: 'All', value:'A'},
                {text: 'Hight', value:'High'},
                {text: 'Medium', value:'Medium'},
                {text: 'Low', value:'Low'}
            ],

            testtype:[
                {text: 'All', value:'A'},
                {text: 'Positive', value:'Positive'},
                {text: 'Negative', value:'Negative'},
                {text: 'Error/Exception Handling', value:'Error/Exception Handling'},
                {text: 'Boundary Condition', value:'Boundary Condition'},
            ],

            testby:[
                {text: 'All', value:'A'},
                {text: 'Manual', value:'Manual'},
                {text: 'Automate', value:'Automate'}
            ],

            addTep: {
                tep_name: '',
                description: '',
                priority: '',
                test_type: '',
                test_by: '',
                project_id: parseInt(this.$route.query.id)
            },
            editTep: {
                id: '',
                tep_name: '',
                description: '',
                priority: '',
                test_type: '',
                test_by: ''
            },

            teps: [],
            fields: [{
                    key: 'tep_name',
                    label: 'TEP Name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'description',
                    label: 'Description',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'status',
                    label: 'Status',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'updated_date',
                    label: 'Updated Date',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
        }
    },
    computed: {
        sortOptions() {
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },
        totalRows() {
            return this.teps.length
        }
    },
    
    created() {
        this.listdata()
    },
    methods: {

        // function list TEP data
        listdata() {
            ProjectService.getAllTep(this.$route.query.id)
                .then(response => {
                    this.teps = response.data.teps;
                    console.log(response.data.teps);
                })
                const project_id = parseInt(this.$route.query.id)
                this.project_id = project_id
                console.log(this.project_id);
        },

        onFiltered(filterdItems) {
            this.totalRows = filterdItems.length
            this.currentPage = 1
        },

        addTEP(e) {
            e.preventDefault();
            const requestBody = 
            {
                 tep_name : this.addTep.tep_name,
                 description : this.addTep.description,
                 priority : this.addTep.priority,
                 test_type : this.addTep.test_type,
                 test_by : this.addTep.test_by,
                 project_id : this.addTep.project_id
            }
            var projectId = this.addTep.project_id
            ProjectService.addTep(projectId,qs.stringify(requestBody))
                .then(response => {
                    this.listdata();
                    this.message = 'TEP is added !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.addTEPModal.hide();
                })
                .catch(error => {
                    console.log(error);
                })
        },
        initForm() {
            this.addTep.tep_name = '';
            this.addTep.description = '';
            this.addTep.priority = '';
            this.addTep.test_type = '';
            this.addTep.test_by = '';
            this.editTep.id = ''
            this.editTep.tep_name = '';
            this.editTep.description = '';
            this.editTep.priority = '';
            this.editTep.test_type = '';
            this.editTep.test_by = '';
        },
        onSubmit(e) {
            e.preventDefault();
            this.$refs.addTEPModal.hide()
            this.addTEP()
            this.initForm()
        },
        onReset(e) {
            e.preventDefault()
            this.$refs.addTEPModal.hide()
            this.initForm()
        },

        // function edit TEP
        editTEP(item) {
            this.editTep = item;
        },
        onSubmitTEP(e) {
            e.preventDefault();
            this.$refs.editTEPModal.hide()
            this.updateTEP(e)
        },
        onResetTEP(e) {
            e.preventDefault();
            this.$refs.editTEPModal.hide();
            this.initForm();
            this.listdata();
        },
        updateTEP(e) {
            e.preventDefault();

            const id = this.editTep.id;
            const tep_name = this.editTep.tep_name;
            const description = this.editTep.description;
            const priority = this.editTep.priority;
            const test_type = this.editTep.test_type;
            const test_by = this.editTep.test_by;
            ProjectService.updateTep(id,{
                    id,
                    tep_name,
                    description,
                    priority,
                    test_type,
                    test_by
                })
                .then(response => {
                    this.listdata();
                    this.message = 'TEP is updated !';
                    this.showMessage = true;
                    console.log(response);
                    this.$refs.editTEPModal.hide();
                })
        },

        // function delete data
        deleteProject(item) {
            axios
                .delete('http://localhost:8000/teps/' + item.id + '')
                .then(response => {
                    this.message = 'Project is removed';
                    this.showMessage = true;
                    this.listdatatep();
                })
        },
        onDeleteProject(item) {
            this.deleteProject(item)
        }
    }
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;

}

.background {
    width: 100%;
    background-color: #66dac7;
    align-items: center;
}

.App11 {
    height: 100vh;
    display: flex;
    color: white;
}

.App_Asidepro {
    width: 15%;
    background-color: #66dac7;
}

.App_Formpro {
    width: 100%;
    /* background-color: #2e4158; */
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
