<template>
<div>
    <SubNav />
    <div class="App11">
        <div class="App_AsideAddpro"></div>
        <div class="App_FormAddpro">
            <div class="FormField">
                <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
                <label :style="{textAlign:'left'}" class="FormField__Label">
                    <h1>Test Execution Plan Name :</h1>
                    <h2>Feature Name :</h2>
                </label>
            </div>

            <!-- Display function Sort in featurelist -->
            <div :style="{color:'black'}">
                <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                    <b-input-group>
                        <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

                <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                    <b-input-group>
                        <b-form-select v-model="sortBy" :options="sortOptions">
                            <template v-slot:first>
                                <option value="">---</option>
                            </template>
                        </b-form-select>
                        <b-form-select v-model="sortDesc" :disabled="!sortBy">
                            <option :value="false">Asc</option>
                            <option :value="true">Desc</option>
                        </b-form-select>
                    </b-input-group>
                </b-form-group>

                <b-row>
                    <b-col sm="5" md="6">
                        <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                            <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6">
                        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" size="sm" align="fill"></b-pagination>
                    </b-col>
                </b-row>
            </div>

            <!-- Add Feature Button -->
            <div :style="{textAlign:'right',marginBottom:'20px'}">
                <b-button variant="success">Add Case Deirectly</b-button>
            </div>

            <!-- Display data featurelist -->
            <b-table :items="featureInTEP" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
                <template v-slot:cell(actions)="row">
                    <b-button size="sm" variant="primary">
                        View
                    </b-button>

                    <b-button size="sm" variant="danger" @click="onDeleteFeature(row.item)">
                        Delete
                    </b-button>
                </template>
            </b-table>

        </div>
        <div class="App_AsideAddpro"></div>
    </div>
</div>
</template>

<script>
import SubNav from '../components/SubNav'
import Alert from '../components/Alert'
import ProjectService from '../services/ProjectService'

export default {
    components: {
        SubNav,
        Alert
    },
    data() {
        return {
            fields: [{
                    key: 'testcase_no',
                    label: 'Test Case No'
                },
                {
                    key: 'testcase_name',
                    label: 'Test Case Name'
                },
                {
                    key: 'testcase_type',
                    label: 'Test Case Type'
                },
                {
                    key: 'testcase_status',
                    label: 'Test Case Status'
                },
                {
                    key: 'owner',
                    label: 'Owner'
                },
                {
                    key: 'lasted_result',
                    label: 'Lasted Result'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ]
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {}
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #66dac7;

}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;

}

.App_AsideAddpro {
    width: 15%;
    background-color: #66dac7;
}

.App_FormAddpro {
    width: 100%;
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
