<template>
<div>
    <SubNav />
    <div class="App11">
        <div class="App_AsideAddpro"></div>
        <div class="App_FormAddpro">
            <div class="FormField">
                <alert :style="{textAlign:'left'}" :message="message" v-if="showMessage"></alert>
                <label class="FormField__Label">
                    <h1>Feature Detail</h1>
                </label>
            </div>

            <!-- List Data Feature Detail -->
            <div class="FormField">
                <b-card>

                    <div class="FormField__Label">
                        Feature Name : {{this.detailFeatures.feature_name}}
                    </div>

                    <div class="FormField__Label">
                        Created By : {{this.detailFeatures.created_by}}
                    </div>

                    <!-- <div class="FormField__Label">
                        <b-row>
                            <b-col sm="5" md="6">
                                <div class="FormField__Label">
                                    Start Date : {{this.detailFeatures.created_at}}
                                </div>
                            </b-col>
                            <b-col sm="5" md="6">
                                <div class="FormField__Label">
                                    End Date : {{this.detailFeatures.enddate}}
                                </div>
                            </b-col>
                        </b-row>
                    </div> -->
                    <div class="FormField__Label">
                        Description : {{this.detailFeatures.description}}
                    </div>
                </b-card>
            </div>

            <!-- Display Function Sort in Test Case Page -->
            <div :style="{color:'black'}">
                <b-form-group label="Filter" label-cols-sm="6" label-align-sm="right" label-for="filterInput">
                    <b-input-group>
                        <b-form-input v-model="filter" type="search" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

                <b-form-group label="Sort" label-cols-sm="6" label-align-sm="right" label-for="sortBySelect">
                    <b-input-group>
                        <b-form-select v-model="sortBy" :options="sortOptions">
                            <template v-slot:first>
                                <option value="">---</option>
                            </template>
                        </b-form-select>
                        <b-form-select v-model="sortDesc" :disabled="!sortBy">
                            <option :value="false">Asc</option>
                            <option :value="true">Desc</option>
                        </b-form-select>
                    </b-input-group>
                </b-form-group>

                <b-row>
                    <b-col sm="5" md="6">
                        <b-form-group label="Per Page" label-cols-sm="6" label-cols-md="4" label-cols-lg="3" label-align-sm="right" label-size="sm" label-for="perPageSelect">
                            <b-form-select v-model="perPage" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col sm="7" md="6">
                        <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" size="sm" align="fill"></b-pagination>
                    </b-col>
                </b-row>
            </div>

            <!-- Add Test Cast Button -->
            <div :style="{textAlign:'right',marginBottom:'20px'}">
                <b-button variant="success" v-b-modal.add-testcase-modal>
                    Add New Test Case
                </b-button>
            </div>

            <!-- test case list data -->
            <b-table :items="testcases" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">
                <!-- action in table -->
                <template v-slot:cell(actions)="row">
                    <!-- <b-button size="sm" variant="primary">
                        View
                    </b-button> -->
                    <b-button size="sm" variant="warning" v-b-modal.edit-testcase-modal @click="editTestcase(row.item)">
                        Edit
                    </b-button>
                    <b-button size="sm" variant="danger" @click="onDeleteTestcase(row.item)">
                        Delete
                    </b-button>
                </template>
            </b-table>

            <!-- Addd Test Case With Modal -->
            <b-modal ref="addTestcaseModal" id="add-testcase-modal" title="Add New Feature" size="lg" hide-footer>
                <b-form @submit="addtestcase" @reset="onResetTestcase">
                    <b-form-group id="form-testcasename-group" label="Test Case No" label-for="input-default">
                        <b-form-input v-model="addTestcase.testcase_No" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                    <b-form-group id="form-testcasename-group" label="Test Case Name" label-for="input-default">
                        <b-form-input v-model="addTestcase.testCase_name" id="input-default" type="text" placeholder="Enter your feature name" required></b-form-input>
                    </b-form-group>

                    <b-form-group id="form-testcasetype-group" label="Test Case Type" label-for="input-default">
                        <b-form-select v-model="addTestcase.test_type" :options="testcaseType" required>
                            <template v-slot:first>
                                <option value="" disabled>-- Please select type --</option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group id="form-testcasstatus-group" label="Test Case Status" label-for="input-default">
                        <b-form-select v-model="addTestcase.status" :options="teststatus" required>
                            <template v-slot:first>
                                <option value="" disabled>-- Please select status --</option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group id="form-priority-group" label="Test Case Priority" label-for="input-default">
                        <b-form-select v-model="addTestcase.priority" :options="priority" required>
                            <template v-slot:first>
                                <option value="" disabled>-- Please select priority --</option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group id="form-testby-group" label="Test by" label-for="input-default">
                        <b-form-radio-group id="input-default" v-model="addTestcase.test_by" :options="['Manual','Automate']" name="radio-inline" required></b-form-radio-group>
                    </b-form-group>

                     <b-form-group id="form-testcasename-group" label="Objective" label-for="input-default">
                        <b-form-input v-model="addTestcase.objective" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                     <b-form-group id="form-testcasename-group" label="Precondition" label-for="input-default">
                        <b-form-input v-model="addTestcase.precondition" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                     <b-form-group id="form-testcasename-group" label="Expected Result" label-for="input-default">
                        <b-form-input v-model="addTestcase.expected_results" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                    <b-button variant="primary" type="submit">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
            </b-modal>

            <!-- Edit Test Case With Modal -->
            <b-modal ref="editTestcaseModal" id="edit-testcase-modal" title="Add New Feature" size="lg" hide-footer>
                <b-form @submit="onSubmitTestcaseUpdate" @reset="onResetFeatureUpdate">
                    <b-form-group id="form-testcasename-group" label="Test Case No" label-for="input-default">
                        <b-form-input v-model="editTestcaseForm.testcase_No" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                    <b-form-group id="form-testcasename-group" label="Test Case Name" label-for="input-default">
                        <b-form-input v-model="editTestcaseForm.testCase_name" id="input-default" type="text" placeholder="Enter your feature name" required></b-form-input>
                    </b-form-group>

                    <b-form-group id="form-testcasetype-group" label="Test Case Type" label-for="input-default">
                        <b-form-select v-model="editTestcaseForm.test_type" :options="testcaseType" required>
                            <template v-slot:first>
                                <option value="" disabled>-- Please select type --</option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group id="form-testcasstatus-group" label="Test Case Status" label-for="input-default">
                        <b-form-select v-model="editTestcaseForm.status" :options="teststatus" required>
                            <template v-slot:first>
                                <option value="" disabled>-- Please select status --</option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group id="form-priority-group" label="Test Case Priority" label-for="input-default">
                        <b-form-select v-model="editTestcaseForm.priority" :options="priority" required>
                            <template v-slot:first>
                                <option value="" disabled>-- Please select priority --</option>
                            </template>
                        </b-form-select>
                    </b-form-group>

                    <b-form-group id="form-testby-group" label="Test by" label-for="input-default">
                        <b-form-radio-group id="input-default" v-model="editTestcaseForm.test_by" :options="['Manual','Automate']" name="radio-inline" required></b-form-radio-group>
                    </b-form-group>

                     <b-form-group id="form-testcasename-group" label="Objective" label-for="input-default">
                        <b-form-input v-model="editTestcaseForm.objective" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                     <b-form-group id="form-testcasename-group" label="Precondition" label-for="input-default">
                        <b-form-input v-model="editTestcaseForm.precondition" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                     <b-form-group id="form-testcasename-group" label="Expected Result" label-for="input-default">
                        <b-form-input v-model="editTestcaseForm.expected_results" id="input-default" type="text" required></b-form-input>
                    </b-form-group>

                    <b-button variant="primary" type="submit">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                </b-form>
            </b-modal>

        </div>
        <div class="App_AsideAddpro"></div>
    </div>
</div>
</template>

<script>
import SubNav from '../components/SubNav'
import Alert from '../components/Alert'
import axios from 'axios'
import ProjectService from '../services/ProjectService'

export default {
    components: {
        SubNav,
        Alert
    },
    data() {
        return {
            message: '',
            showMessage: false,

            detailFeatures: [],
            testcases: [],

            testcaseType: [{
                    value: 'positive',
                    text: 'Positive'
                },
                {
                    value: 'negative',
                    text: 'Negative'
                },
                {
                    value: 'error',
                    text: 'Error/Exception Handling'
                },
                {
                    value: 'Boundary Condition',
                    text: 'Boundary Condition'
                }
            ],
            teststatus: [{
                    value: 'New',
                    text: 'New'
                },
                {
                    value: 'Active',
                    text: 'Active'
                },
                {
                    value: 'Obsolete',
                    text: 'Obsolete'
                }
            ],
            priority: [{
                    value: 'High',
                    text: 'High'
                },
                {
                    value: 'Medium',
                    text: 'Medium'
                },
                {
                    value: 'Low',
                    text: 'Low'
                }
            ],

            fields: [{
                    key: 'testCase_name',
                    label: 'TC name',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'test_type',
                    label: 'Test Type',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'status',
                    label: 'Status',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'priority',
                    label: 'Priority',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'test_by',
                    label: 'Test by',
                    sortable: true,
                    sortDirection: 'desc'
                },
                {
                    key: 'actions',
                    label: 'Actions'
                }
            ],

            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],

            addTestcase: {
                testcase_No:'',
                testCase_name: '',
                test_type: '',
                status: '',
                priority: '',
                test_by: '',
                objective:'',
                precondition:'',
                expected_results:'',
                feature_id: parseInt(this.$route.query.id),
                project_id: parseInt(this.$route.query.project_id)
            },

            editTestcaseForm: {
                id:'',
                testcase_No:'',
                testCase_name: '',
                test_type: '',
                status: '',
                priority: '',
                test_by: '',
                objective:'',
                precondition:'',
                expected_results:'',
            },
        }
    },

    computed: {
        sortOptions() {
            // Create an options list from our fields
            return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return {
                        text: f.label,
                        value: f.key
                    }
                })
        },
        totalRows() {
        return this.testcases.length
    }
    },

    created() {
        this.listdata();
    },

    methods: {
         onFiltered(filterdItems) {
            this.totalRows = filterdItems.length
            this.currentPage = 1
        },
        
        listdata() {
            // {id: 1, project_id: 2}
            ProjectService.getAllTestcase(this.$route.query.id,this.$route.query.project_id)
                .then(response => {
                    console.log(response.data)
                    this.detailFeatures = response.data.feature;
                    this.testcases = response.data.testCase;
                    console.log(this.testcases);
                })
        },

        // function add testcase
        addtestcase(e) {
            e.preventDefault();
            const testcase_No = this.addTestcase.testcase_No;
            const testCase_name = this.addTestcase.testCase_name;
            const test_type = this.addTestcase.test_type;
            const status = this.addTestcase.status;
            const priority = this.addTestcase.priority;
            const test_by = this.addTestcase.test_by;
            const objective = this.addTestcase.objective;
            const precondition = this.addTestcase.precondition;
            const expected_results = this.addTestcase.expected_results;
            const feature_id = this.addTestcase.feature_id;
            const project_id = this.addTestcase.project_id;
            ProjectService.addTestcase({
                    testcase_No,
                    testCase_name,
                    test_type,
                    status,
                    priority,
                    test_by,
                    objective,
                    precondition,
                    expected_results,
                    feature_id,
                    project_id
                })
                .then(response => {
                    console.log(response);
                    
                    this.listdata();
                    this.message = 'Testcase is added !';
                    this.showMessage = true;
                    this.$refs.addTestcaseModal.hide()
                })
        },
        initFormTestcase() {
            this.addTestcase.testcase_No = '';
            this.addTestcase.testCase_name = '';
            this.addTestcase.test_type = '';
            this.addTestcase.status = '';
            this.addTestcase.priority = '';
            this.addTestcase.test_by = '';
            this.addTestcase.objective = '';
            this.addTestcase.precondition = '';
            this.addTestcase.expected_results = '';
            this.editTestcaseForm.id = '';
            this.editTestcaseForm.testcase_No = '';
            this.editTestcaseForm.testCase_name = '';
            this.editTestcaseForm.test_type = '';
            this.editTestcaseForm.status = '';
            this.editTestcaseForm.priority = '';
            this.editTestcaseForm.test_by = '';
            this.editTestcaseForm.objective = '';
            this.editTestcaseForm.precondition = '';
            this.editTestcaseForm.expected_results = '';
        },
        onSubmitTestcase(e) {
            e.preventDefault();
            this.$refs.addTestcaseModal.hide()
            this.addTestcase();
            this.initFormTestcase()
        },
        onResetTestcase(e) {
            e.preventDefault()
            this.$refs.addTestcaseModal.hide()
            this.initFormTestcase()
            this.listdata()
        },

        //function edit testcase
        editTestcase(item) {
            this.editTestcaseForm = item;
        },
        onSubmitTestcaseUpdate(e) {
            e.preventDefault();
            this.$refs.editTestcaseModal.hide()
            this.updateTestcase(e);
        },
        onResetFeatureUpdate(e) {
            e.preventDefault();
            this.$refs.editTestcaseModal.hide();
            this.initFormTestcase();
            this.listdata();
        },
        updateTestcase(e) {
            e.preventDefault();

            const id = this.editTestcaseForm.id;
            const testcase_No = this.editTestcaseForm.testcase_No;
            const testCase_name = this.editTestcaseForm.testCase_name;
            const test_type = this.editTestcaseForm.test_type;
            const status = this.editTestcaseForm.status;
            const priority = this.editTestcaseForm.priority;
            const test_by = this.editTestcaseForm.test_by;
            const objective = this.editTestcaseForm.objective;
            const precondition = this.editTestcaseForm.precondition;
            const expected_results = this.editTestcaseForm.expected_results;
            ProjectService.updateTestcase(id, {
                    id,
                    testcase_No,
                    testCase_name,
                    test_type,
                    status,
                    priority,
                    test_by,
                    objective,
                    precondition,
                    expected_results
                })
                .then(response => {
                    this.listdata();
                    this.message = 'Test Case is updated !';
                    this.showMessage = true;
                    this.$refs.editTestcaseModal.hide();
                })
        },

        //function delete testcase
       deleteTestcase(item) {
            if (confirm("Do you want to delete ?")) {
                ProjectService.deleteTestcase(item.id)
                    .then(response => {
                        this.message = 'Test Case is removed'
                        this.showMessage = true
                        this.listdata()
                    })
            }
        },
        onDeleteTestcase(item) {
            this.deleteTestcase(item)
        }
    }
}
</script>

<style>
.container {
    margin: 5 auto;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #66dac7;

}

.App11 {
    height: 100vh;
    display: flex;
}

.background {
    width: 100%;
    height: 100vh;

    align-items: center;
    justify-content: center;

}

.App_AsideAddpro {
    width: 15%;
    background-color: #66dac7;
}

.App_FormAddpro {
    width: 100%;
    background-color: #fff;
    padding: 25px 40px;
    overflow: auto;
    text-align: center
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    font-size: 1em;
    color: black;
}
</style>
